[submodule "ripe64"]
	path = eval/ripe64
	url = https://github.com/R0mbertus/ripe64.git
[submodule "cfi-eval"]
	path = eval/cfi-eval
	url = https://github.com/R0mbertus/cfi-eval.git
[submodule "ccfi"]
	path = policies/llvm34-ccfi
	url = https://bitbucket.org/CCFI/llvm34-ccfi.git
[submodule "picfi"]
	path = policies/MCFI
	url = https://github.com/mcfi/MCFI.git
[submodule "typro"]
	path = policies/TyPro-CFI
	url = https://github.com/typro-type-propagation/TyPro-CFI.git
