[submodule "ripe64"]
	path = eval/ripe64
	url = https://github.com/R0mbertus/ripe64.git
[submodule "picfi"]
	path = policies/MCFI
	url = https://github.com/mcfi/MCFI.git
[submodule "typro"]
	path = policies/TyPro-CFI
	url = https://github.com/typro-type-propagation/TyPro-CFI.git
[submodule "ConFIRM"]
	path = eval/ConFIRM
	url = https://github.com/R0mbertus/ConFIRM.git
